*{
  color: white;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(47, 81, 104);
}

.sortChoice, .sortButton{
  margin: 10px;
  background-color: goldenrod;
  border: solid black 2px;
  border-radius: 15%;
}

.sortButton{
  padding: 8px;
  font-weight: bold;
}

.sortChoice:focus{
  background-color: rgb(173, 173, 173);
}

.sortButtonsDiv{
  display: flex;
  text-align: center;
}